{% extends "liberty/layout.html"%}

{% block body%}
    <div class="container">
        <header>
            <h2>Introduction to the Liberty Project:</h2>
        </header>
       <p> 
            Welcome to The Liberty Project, where the dreams of the past meet the aspirations of the future! 
       </p>
       <p>
            Nestled in the annals of scientific pursuit, The Liberty Project is an ambitious venture that sought to unravel 
            the enigmatic realm of temporal relocation in a bygone era.
       </p>
       <p>
            Established during a time when the concept of temporal exploration was met with skepticism and fantastical speculation, 
            we embarked on a daring mission to breach the barriers of time itself. 
       </p>
       <p>
            Driven by a fervent belief in the possibilities that lay within the temporal continuum, our team of intrepid researchers, 
            eccentric thinkers, and passionate visionaries delved into the mysteries of temporal manipulation.
        </p>
<!--
        <div class="components components-grid">
            <main>
                <section>
                    <header> 
                        <h2>Image</h2>
                    </header>
                    <figure>
                        <img src="static/liberty/thumbnail.jpeg" title="Lorem ipsum dolor sit amet">
                        <figcaption> image with caption </figcaption>
                    </figure>
                </section>
            </main>
        </div>
    </div>
-->
{% endblock %}